/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  box-sizing:border-box;
  overflow:hidden;
}
span{
 overflow:hidden;
}
img {
  border: none; 
  display:block;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
font-family: "Microsoft Yahei", "微软雅黑";
background:#f5f5f5;
font-size:16px;max-width:800px;
}

header {
background:#cc091a;
height:50px;
}

.container{
background:#fff;
padding:0 10px;

}
.user {
margin-top:5px;
height:60px;
border-bottom:1px dashed #f2f2f2;
padding:5px 0 10px 0;
}
.user-head {
background:#f2f2f2;
height:60px;
width:60px;
float:left;
border-radius:50%;
}
.user-head img{
width:100%;
height:100%;
}
.user-info {
float: left;
margin-left:25px;
}
.user-info span {
color:#939393;
font-size:0.7em;
}
.user-name {
color:#f63;
}
.user-name span.pro{
display:inline-table;
vertical-align:text-top;
width:13px;
margin-left:5px;
margin-top:0px;
}
.user-name span.pro img{
display:block;
width:100%;
}
.user-add span{
margin-right:5px;
}
.user-add span.dw{ 
background:url(../images/qz_address.png) no-repeat;
background-size:9px 12px;
padding-left:10px;
}
.user-details  span {
margin-right:15px;
}
.user-info span b {
color:#4b4b4b;
font-weight:normal;
}


.art{
clear:both;
padding:10px 0 15px;
overflow:hidden;
}

.art-info {
color:#343434;
overflow:hidden;
padding:0 0 5px;
text-indent:2px;
line-height:20px;
}
.art-info li{
width:50%;
float:left;
font-size:14px;
}
.art-info li span{
padding-left:3px;
}
.art-info p.xq{
font-size:14px;
color:#666;
}
.art-photo ul{
clear:both
}
.art-photo li{
float:left; 
width:33.33%
}
.art-photo li img{ 
width:100%;
border:3px solid #fff;
border-bottom:0;}

.art-price{
clear:both;
padding-top:10px;
}
.art-price p{
 color:#5f5d5e;
 padding-left:3px;
}
.art-price p strong{
font-size:1.6em;
color:#fd7134;

}
.add-price{
height:2.2em;
line-height:2.2em;
text-align:center;
color:#fff;
background:#ff3239;
border-radius:5px;
margin-top:5px;
}
.add-price:hover{
background:#ccc;
}

/* 滑动打分 */
.price-slide{
clear:both; 
padding:10px 3px 20px;
width:99%;
margin:0 auto;
}
.price-slide p{
padding-bottom:15px;
font-size:15px;
}


/* 统计估值 */
.price-count a{
color:#ff3239
}
.price-count li{
margin-top:10px;
width:49%;
border-radius:5px;
height:2.2em;
line-height:2.2em;
border:1px solid #ff3239;
color:#ff3239;
text-align:center;
}
.price-count li:first-child{
float:left;
}

.price-count li:last-child{
float:right;
}
.price-count li:hover {
background:#ff3239;
}
.price-count li:hover a{
color:#fff;
}
/*底部链接 */
.links{
height:36px;
background:#fff;
border-top:1px solid #e4e3e3;
border-bottom:1px solid #e4e3e3;
margin:10px 0;
}
.links ul{
height:100%;

}
.links li{ 
width:25%;
height:100%;
float:left;
color:#7d7d7d;
font-size:0.9em;
background-repeat:no-repeat;
background-position:30% center;
padding-left:12%;
background-size:18%;

}

.links li span{
display:block;
border-right:1px solid #ddd;
height:16px;
margin-top:10px
}

.links li.ts{background-image:url(../images/ts.png)}
.links li.zf{background-image:url(../images/zf.png)}
.links li.pl{background-image:url(../images/pl.png)}
.links li.zan{background-image:url(../images/zan.png)}

.links li:hover{
background-color:#f5f5f5;
}


@media(max-width:320px){
.user-info {
margin-left:15px;
}
.user-details  span {
margin-right:2px;
}

}






